.top {
    height: 180px;
    width: 100%;
    background: #3B8D71;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.banner {
    height: 200px;
    /* border: 1px solid red; */
}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
}

.content_video {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 200px;
}

.content_picture {
    width: 100%;
    min-height: 200px;
}

.foot {
    /* border: 1px solid red; */
}

html body {
    margin: 0px;
    box-sizing: border-box;

}