.b_top {
    height: 100px;
    width: 100%;
    border: 1px solid red;
}

.b_banner {
    height: 200px;
    border: 1px solid red;
}

.b_content {
    border: 1px solid red;
}

.b_foot {
    border: 1px solid red;
}

html body {
    margin: 0px;

}